html,
body {
  width: 100% !important;
  height: 100% !important;
  
}

#root {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(9,121,36,1) 35%, rgba(0,212,255,1) 100%); 
}
